        body,
        html {
            width: 98%;
            height: 100%;
            margin: 10px;
            font-family: "courier";
            background-color: #EAEDED;
        }


        #allmap {
            height: 100%;
            width: 100%;
        }

        #r-result,
        #r-result table {
            width: 95%;
        }

        div {
            display: inline-block
        }

        p.map {
            border-style: solid;
            border-width: medium;
            border-color: #138D75;
            margin-top: 10px;
        }

        .button {
            background-color: #117A65;
            border: none;
            color: white;
            padding: 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 4px;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .main-header {
            text-align: center;
            width: 100%;
            height: 490px;
            font-family: 'Changa', serif;
            font-size: 90px;
            background-image: url("../img/main3.jpg");
            color: white;
            text-shadow: 1px 1px 1px #aaa;
            
        }
