<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>TrafficTracker</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Changa">
        <style type="text/css">
            body,
            html {
                width: 80%;
                height: 80%;
                margin: 10px;
                font-family: "courier";
                background-color: #EAEDED;
            }
            #allmap {
                height: 100%;
                width: 100%;
            }
            #r-result,
            #r-result table {
                width: 95%;
            }
            div {
                display: inline-block
            }
            p.map {
                border-style: solid;
                border-width: medium;
                border-color: #138D75;
                margin-top: 10px;
            }
            .button {
                background-color: #117A65;
                border: none;
                color: white;
                padding: 4px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
                margin: 4px 4px;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
            .main-header {
                text-align: center;
                width: 100%;
                height: 490px;
                font-family: 'Changa', serif;
                font-size: 90px;
                --background-image: url("/main3.jpg");
                color: white;
                text-shadow: 1px 1px 1px #aaa;        
            }
        </style>
    </head>

    <body>
        <header class="main-header" role="banner">
            
            <div class="main-header "> &nbsp;TrafficTracker</div>
        </header>
    
        <div id="">
            <label>Time: <input type="time" name="field1" id="field1"/></label>
            <input type="button" class="button" onclick="processData('field1')" value="submit"/>
        </div>
        
        <div id="allmap">
            <p class="map"></p>
        </div>

        <div id="r-result"></div>

        <footer>
            <div>
                <p>All rights reserved by Liaoning University of Technology</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DcoirgVzBcSqhqr82bhY2VFe5dIRpLP8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</html>

<script type="text/javascript">
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(121.135210, 41.12380), 18);

    var top_right_navigation = new BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_RIGHT,
        type: BMAP_NAVIGATION_CONTROL_SMALL
    });
    map.addControl(top_right_navigation);

    var location1 = "121.130600, 41.1256";
    var location2 = "121.132790, 41.1255";
    var location3 = "121.134220, 41.1253";
    var location4 = "121.135550, 41.1252";
    var location5 = "121.136800, 41.1251";
    var location6 = "121.136580, 41.12366";
    var location7 = "121.135210, 41.12380";
    var location8 = "121.135250, 41.1220";
    var location9 = "121.132190, 41.1217";
    var location10 = "121.131170,41.1216";

    var point1 = new BMap.Point(121.130600, 41.1256);
    var point2 = new BMap.Point(121.132790, 41.1255);
    var point3 = new BMap.Point(121.134220, 41.1253);
    var point4 = new BMap.Point(121.135550, 41.1252);
    var point5 = new BMap.Point(121.136800, 41.1251);
    var point6 = new BMap.Point(121.136580, 41.12366);
    var point7 = new BMap.Point(121.135210, 41.12380);
    var point8 = new BMap.Point(121.135250, 41.1220);
    var point9 = new BMap.Point(121.132190, 41.1217);
    var point10 = new BMap.Point(121.131170,41.1216);
    

    function ComplexCustomOverlay(point, text, mouseoverText) {
        this._point = point;
        this._text = text;
        this._overText = mouseoverText;
    }
    ComplexCustomOverlay.prototype = new BMap.Overlay();
    ComplexCustomOverlay.prototype.initialize = function(map) {
        this._map = map;
        var div = this._div = document.createElement("div");
        div.style.position = "absolute";
        div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
        div.style.backgroundColor = "#EE5D5B";
        div.style.border = "1px solid #BC3B3A";
        div.style.color = "white";
        div.style.height = "18px";
        div.style.padding = "2px";
        div.style.lineHeight = "18px";
        div.style.whiteSpace = "nowrap";
        div.style.MozUserSelect = "none";
        div.style.fontSize = "12px"
        var span = this._span = document.createElement("span");
        div.appendChild(span);
        span.appendChild(document.createTextNode(this._text));
        var that = this;

        var arrow = this._arrow = document.createElement("div");
        arrow.style.background = "url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat";
        arrow.style.position = "absolute";
        arrow.style.width = "11px";
        arrow.style.height = "10px";
        arrow.style.top = "22px";
        arrow.style.left = "10px";
        arrow.style.overflow = "hidden";
        div.appendChild(arrow);

        div.onmouseover = function() {
            this.style.backgroundColor = "#45B39D";
            this.style.borderColor = "#0E6251";
            this.getElementsByTagName("span")[0].innerHTML = that._overText;
            arrow.style.backgroundPosition = "0px -20px";
        }

        div.onmouseout = function() {
            this.style.backgroundColor = "#EE5D5B";
            this.style.borderColor = "#BC3B3A";
            this.getElementsByTagName("span")[0].innerHTML = that._text;
            arrow.style.backgroundPosition = "0px 0px";
        }

        map.getPanes().labelPane.appendChild(div);

        return div;
    }
    ComplexCustomOverlay.prototype.draw = function() {
        var map = this._map;
        var pixel = map.pointToOverlayPixel(this._point);
        this._div.style.left = pixel.x - parseInt(this._arrow.style.left) + "px";
        this._div.style.top = pixel.y - 30 + "px";
    }

    // get the number of cars passing through an intersection.
    var carNumber1 = "{{n_car[0]}}"
    var carNumber2 = "{{n_car[1]}}"
    var carNumber3 = "{{n_car[2]}}"
    var carNumber4 = "{{n_car[3]}}"
    var carNumber5 = "{{n_car[4]}}"
    var carNumber6 = "{{n_car[5]}}"
    var carNumber7 = "{{n_car[6]}}"
    var carNumber8 = "{{n_car[7]}}"
    var carNumber9 = "{{n_car[8]}}"
    var carNumber10 = "{{n_car[9]}}"
    
    // get the average speed at an intersection.
    var speed1 = "{{avg_speed[0]}}"
    var speed2 = "{{avg_speed[1]}}"
    var speed3 = "{{avg_speed[2]}}"
    var speed4 = "{{avg_speed[3]}}"
    var speed5 = "{{avg_speed[4]}}"
    var speed6 = "{{avg_speed[5]}}"
    var speed7 = "{{avg_speed[6]}}"
    var speed8 = "{{avg_speed[7]}}"
    var speed9 = "{{avg_speed[8]}}"
    var speed10 = "{{avg_speed[9]}}"
   
    // display information on the camera label if user moves the mouse on camera label
    var txt1 = "camera1",
        mouseoverTxt1 = txt1 + " location is: "+ location1 + ";  Current No. of car: " + carNumber1 + ";  AverageSpeed: " + speed1;
    var txt2 = "camera2",
        mouseoverTxt2 = txt2 + " location is: "+ location2 + ";  Current No. of car: " + carNumber2 + ";  AverageSpeed: " + speed2;
    var txt3 = "camera3",
        mouseoverTxt3 = txt3 + " location is: "+ location3 + ";  Current No. of car: " + carNumber3 + ";  AverageSpeed: " + speed3;
    var txt4 = "camera4",
        mouseoverTxt4 = txt4 + " location is: "+ location4 + ";  Current No. of car: " + carNumber4 + ";  AverageSpeed: " + speed4;
    var txt5 = "camera5",
        mouseoverTxt5 = txt5 + " location is: "+ location5 + ";  Current No. of car: " + carNumber5 + ";  AverageSpeed: " + speed5;
    
    var txt6 = "camera6",
        mouseoverTxt6 = txt6 + " location is: "+ location6 + ";  Current No. of car: " + carNumber6 + ";  AverageSpeed: " + speed6;
    var txt7 = "camera7",
        mouseoverTxt7 = txt7 + " location is: "+ location7 + ";  Current No. of car: " + carNumber7 + ";  AverageSpeed: " + speed7;
    var txt8 = "camera8",
        mouseoverTxt8 = txt8 + " location is: "+ location8 + ";  Current No. of car: " + carNumber8 + ";  AverageSpeed: " + speed8;
    var txt9 = "camera9",
        mouseoverTxt9 = txt9 + " location is: " + location9+ ";  Current No. of car: " + carNumber9 + ";  AverageSpeed: " + speed9;
    var txt10 = "camera10",
        mouseoverTxt10 = txt10 + " location is: "+ location10 + ";  Current No. of car: " + carNumber10 + ";  AverageSpeed: " + speed10;

    var myCompOverlay1 = new ComplexCustomOverlay(point1, "camera1", mouseoverTxt1);
    var myCompOverlay2 = new ComplexCustomOverlay(point2, "camera2", mouseoverTxt2);
    var myCompOverlay3 = new ComplexCustomOverlay(point3, "camera3", mouseoverTxt3);
    var myCompOverlay4 = new ComplexCustomOverlay(point4, "camera4", mouseoverTxt4);
    var myCompOverlay5 = new ComplexCustomOverlay(point5, "camera5", mouseoverTxt5);
    var myCompOverlay6 = new ComplexCustomOverlay(point6, "camera6", mouseoverTxt6);
    var myCompOverlay7 = new ComplexCustomOverlay(point7, "camera7", mouseoverTxt7);
    var myCompOverlay8 = new ComplexCustomOverlay(point8, "camera8", mouseoverTxt8);
    var myCompOverlay9 = new ComplexCustomOverlay(point9, "camera9", mouseoverTxt9);
    var myCompOverlay10 = new ComplexCustomOverlay(point10, "camera10", mouseoverTxt10);
    
    map.addOverlay(myCompOverlay1);
    map.addOverlay(myCompOverlay2);
    map.addOverlay(myCompOverlay3);
    map.addOverlay(myCompOverlay4);
    map.addOverlay(myCompOverlay5);
    map.addOverlay(myCompOverlay6);
    map.addOverlay(myCompOverlay7);
    map.addOverlay(myCompOverlay8);
    map.addOverlay(myCompOverlay9);
    map.addOverlay(myCompOverlay10);
    
    //bring in route color
    var color1 // heavy traffic
    var color2 // crowded
    var color3 // moderate
    var color4 // normal

    color1 = '{{colors[0]}}'
    color2 = '{{colors[1]}}'
    color3 = '{{colors[2]}}'
    color4 = '{{colors[3]}}'

    $route1_cars = carNumber1 + carNumber2;
    $route1_avg_speed = speed1 + speed2 / 100; 

    if($route1_cars >=200){
        var polyline1 = new BMap.Polyline([
            point1, point2
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline1);
    }else if($route1_cars >150 && $route1_cars <200){
        var polyline1 = new BMap.Polyline([
            point1, point2
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline1);
    }else if($route1_cars >100 && $route1_cars <150){
        var polyline1 = new BMap.Polyline([
            point1, point2
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline1);

    }else if($route1_cars <100){
        var polyline1 = new BMap.Polyline([
            point1, point2
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline1);
    }

    $route2_cars = carNumber2 + carNumber3;
    $route2_avg_speed = speed2 + speed3 / 100; 

    if($route2_cars >=200){
        var polyline2 = new BMap.Polyline([
            point2, point3
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline2);
    }else if($route2_cars >150 && $route2_cars <200){
        var polyline2 = new BMap.Polyline([
            point2, point3
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline2);

    }else if($route2_cars >100 && $route2_cars <150){
        var polyline2 = new BMap.Polyline([
            point2, point3
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline2);

    }else if($route2_cars <100){
        var polyline2 = new BMap.Polyline([
            point2, point3
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline2);
    }

    $route3_cars = carNumber3 + carNumber4;
    $route3_avg_speed = speed3 + speed4 / 100; 

    if($route3_cars >=200){
        var polyline3 = new BMap.Polyline([
            point3, point4
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline3);
    }else if($route3_cars >150 && $route3_cars <200){
        var polyline3 = new BMap.Polyline([
            point3, point4
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline3);

    }else if($route3_cars >100 && $route3_cars < 150){
        var polyline3 = new BMap.Polyline([
            point3, point4
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline3);

    }else if($route3_cars <100){
        var polyline3 = new BMap.Polyline([
            point3, point4
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline3);
    }

    $route4_cars = carNumber4 + carNumber5;
    $route4_avg_speed = speed4 + speed5 / 100; 

    if($route4_cars >=200){
        var polyline4 = new BMap.Polyline([
            point4, point5
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline4);
    }else if($route4_cars >150 && $route4_cars <200){
        var polyline4 = new BMap.Polyline([
            point4, point5
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline4);

    }else if($route4_cars >100 && $route4_cars < 150){
        var polyline4 = new BMap.Polyline([
            point4, point5
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline4);

    }else if($route4_cars <100){
        var polyline4 = new BMap.Polyline([
            point4, point5
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline4);
    }

    $route5_cars = carNumber5 + carNumber6;
    $route5_avg_speed = speed5 + speed6 / 100; 

    if($route5_cars >=200){
        var polyline5 = new BMap.Polyline([
            point5, point6
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline5);
    }else if($route5_cars >150 && $route5_cars <200){
        var polyline5 = new BMap.Polyline([
            point5, point6
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline5);

    }else if($route5_cars >100 && $route5_cars < 150){
        var polyline5 = new BMap.Polyline([
            point5, point6
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline5);

    }else if($route5_cars <=100){
        var polyline5 = new BMap.Polyline([
            point5, point6
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline5);
    }

    $route6_cars = carNumber6 + carNumber7;
    $route6_avg_speed = speed6 + speed7 / 100; 

    if($route6_cars >=200){
        var polyline6 = new BMap.Polyline([
            point6, point7
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline6);
    }else if($route6_cars >150 && $route6_cars <200){
        var polyline6 = new BMap.Polyline([
            point6, point7
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline6);

    }else if($route6_cars >100 && $route6_cars < 150){
        var polyline6 = new BMap.Polyline([
            point6, point7
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline6);

    }else if($route6_cars <=100){
        var polyline6 = new BMap.Polyline([
            point6, point7
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline6);
    }

    $route7_cars = carNumber7 + carNumber8;
    $route7_avg_speed = speed7 + speed8 / 100; 

    if($route7_cars >=200){
        var polyline7 = new BMap.Polyline([
            point7, point8
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline7);
    }else if($route7_cars >150 && $route7_cars <200){
        var polyline7 = new BMap.Polyline([
            point7, point8
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline7);

    }else if($route7_cars >100 && $route7_cars < 150){
        var polyline7 = new BMap.Polyline([
            point7, point8
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline7);

    }else if($route7_cars <=100){
        var polyline7 = new BMap.Polyline([
            point7, point8
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline7);
    }
    
    $route8_cars = carNumber8 + carNumber9;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route8_cars >=200){
        var polyline8 = new BMap.Polyline([
            point8, point9
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline8);
    }else if($route8_cars >150 && $route8_cars <200){
        var polyline8 = new BMap.Polyline([
            point8, point9
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline8);

    }else if($route8_cars >100 && $route8_cars <=150){
        var polyline8 = new BMap.Polyline([
            point8, point9
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline8);

    }else if($route8_cars <=100){
        var polyline8 = new BMap.Polyline([
            point8, point9
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline8);
    }

    $route9_cars = carNumber9 + carNumber10;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route9_cars >=200){
        var polyline9 = new BMap.Polyline([
            point9, point10
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline9);
    }else if($route9_cars >150 && $route9_cars <200){
        var polyline9 = new BMap.Polyline([
            point9, point10
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline9);

    }else if($route9_cars >100 && $route9_cars <=150){
        var polyline9 = new BMap.Polyline([
            point9, point10
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline9);

    }else if($route9_cars <=100){
        var polyline9 = new BMap.Polyline([
            point9, point10
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline9);
    }

    $route10_cars = carNumber10 + carNumber1;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route10_cars >=200){
        var polyline10 = new BMap.Polyline([
            point10, point1
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline10);
    }else if($route10_cars >150 && $route10_cars <200){
        var polyline10 = new BMap.Polyline([
            point10, point1
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline10);

    }else if($route10_cars >100 && $route10_cars <=150){
        var polyline10 = new BMap.Polyline([
            point10, point1
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline10);

    }else if($route10_cars <=100){
        var polyline10 = new BMap.Polyline([
            point10, point1
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline10);
    }

    $route11_cars = carNumber2 + carNumber9;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route11_cars >=200){
        var polyline11 = new BMap.Polyline([
            point2, point9
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline11);
    }else if($route11_cars >150 && $route11_cars <200){
        var polyline11 = new BMap.Polyline([
            point2, point9
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline11);

    }else if($route11_cars >100 && $route11_cars <=150){
        var polyline11 = new BMap.Polyline([
            point2, point9
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline11);

    }else if($route11_cars <=100){
        var polyline11 = new BMap.Polyline([
            point2, point9
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline11);
    }

    $route12_cars = carNumber3 + carNumber7;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route12_cars >=200){
        var polyline12 = new BMap.Polyline([
            point3, point7
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline12);
    }else if($route12_cars >150 && $route12_cars <200){
        var polyline12 = new BMap.Polyline([
            point3, point7
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline12);

    }else if($route12_cars >100 && $route12_cars <=150){
        var polyline12 = new BMap.Polyline([
            point3, point7
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline12);

    }else if($route12_cars <100){
        var polyline12 = new BMap.Polyline([
            point3, point7
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline12);
    }
    $route13_cars = carNumber4 + carNumber7;
    //$route8_avg_speed = speed7 + speed7 / 100; 

    if($route13_cars >=200){
        var polyline13 = new BMap.Polyline([
            point4, point7
        ], {
            strokeColor: color1,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline13);
    }else if($route13_cars >150 && $route13_cars <200){
        var polyline13 = new BMap.Polyline([
            point4, point7
        ], {
            strokeColor: color2,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline13);

    }else if($route13_cars >100 && $route13_cars <=150){
        var polyline13 = new BMap.Polyline([
            point4, point7
        ], {
            strokeColor: color3,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline13);

    }else if($route13_cars <=100){
        var polyline13 = new BMap.Polyline([
            point4, point7
        ], {
            strokeColor: color4,
            strokeWeight: 6,
            strokeOpacity: 0.5
        });
        map.addOverlay(polyline13);
    }

    $("#refresh").click(function() {
        location.reload()
    });
    
    function processData(f1){
        location.reload()
    }
</script>